<div class="chat-room h-100">
  <app-chat-room-header class="ex-bg-white"
                        [user]="selectedUser()"></app-chat-room-header>
  <!-- <mat-divider></mat-divider> -->
  <!-- Messages List -->
  <div class="messages"
       #messageList>
    <div *ngFor="let message of messages"
         class="message"
         [ngClass]="{ sent: message.isSent, received: !message.isSent }">
      <div class="message-content">
        <p *ngIf="message.content">{{ message.content }}</p>
        <img *ngIf="isImage(message.filePath)"
             [src]="message.filePath"
             alt="Image" />
        <video *ngIf="isVideo(message.filePath)"
               [src]="message.filePath"
               controls></video>
        <a *ngIf="message.filePath && !isImage(message.filePath) && !isVideo(message.filePath)"
           [href]="message.filePath"
           download>
          Download File
        </a>
      </div>
      <span class="timestamp">{{ formatTimestamp(message.timestamp) }}</span>
    </div>
  </div>

  <!-- Input Area -->
  <form (ngSubmit)="sendMessage()"
        class="ex-bg-white d-flex align-items-center gap-2 pe-2">
    <mat-form-field class="flex-grow-1"
                    [hideRequiredMarker]="true"
                    [subscriptSizing]="'dynamic'">
      <!-- <mat-label>متن پیام</mat-label> -->
      <input [(ngModel)]="newMessage"
             name="newMessage"
             placeholder="متن پیام"
             matInput />
    </mat-form-field>
    <input type="file"
           #fileInput
           (change)="uploadFile($event)"
           hidden />
    <button type="button"
            mat-icon-button
            (click)="fileInput.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
    <button mat-raised-button
            color="primary"
            type="submit">ارسال</button>
  </form>
</div>