<div class="chat-room h-100">
  <app-chat-room-header class="ex-bg-white"
                        [user]="selectedUser()"></app-chat-room-header>
  <!-- <mat-divider></mat-divider> -->
  <!-- Messages List -->
  <div #messageList
       class="message--container">
    <div class="messages">
      @for (message of messages(); track $index) {
      <div class="message"
           [class.seen-0]="message.status === 0"
           [class.seen-1]="message.status === 1"
           [class.seen-2]="message.status === 2"
           [class.message--to]="message.senderId !== userId()">
        <div class="message-content">
          @if(message.content) {
          <p>{{ message.content }}</p>
          }
          @if(isImage(message.filePath)) {
          <img [src]="message.filePath"
               alt="Image"
               (error)="message.filePath = undefined" />
          }
          @if(isVideo(message.filePath)) {
          <video [src]="message.filePath"
                 controls
                 (error)="message.filePath = undefined"></video>
          }
          @if(message.filePath && !isImage(message.filePath) && !isVideo(message.filePath)) {
          <a [href]="message.filePath"
             download>
            Download File
          </a>
          }
        </div>
        @if(message.timestamp) {
        <span class="timestamp">{{ formatTimestamp(message.timestamp) }}</span>
        }
      </div>
      }@empty {
      @if(loading()) {
      <div>در حال بارگذاری ...</div>
      }@else {
      <div>لطفا پیام خود را بذارید.</div>
      }
      }
    </div>
  </div>
  <!-- Input Area -->
  <form (ngSubmit)="sendMessage()"
        class="ex-bg-white d-flex align-items-center gap-2 pe-2">
    <mat-form-field class="flex-grow-1"
                    [hideRequiredMarker]="true"
                    [subscriptSizing]="'dynamic'">
      <!-- <mat-label>متن پیام</mat-label> -->
      <input [(ngModel)]="newMessage"
             name="newMessage"
             placeholder="متن پیام"
             matInput />
    </mat-form-field>
    <input type="file"
           #fileInput
           hidden />
    <button type="button"
            mat-icon-button
            (click)="fileInput.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
    <button mat-raised-button
            color="primary"
            type="submit">ارسال</button>
  </form>
</div>