@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color-scheme: light dark,
      color: mat.$azure-palette,
      typography: (
        plain-family: iranyekan,
        brand-family: iranyekan,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300
      ),
      density: 0
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: iranyekan !important;
  scroll-behavior: smooth;
}

// @import "@angular/cdk/overlay-prebuilt.css";
// @import "@exir/elements/assets/exir-context-menu/base";
// @import "@exir/elements/assets/exir-toast/style-bootstrap";
// @import "./styles/share.scss";
// @import "./styles/home.scss";

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

*::selection {
  // background: mat.$azure-palette;
  color: #fff;
}

.toast-container {
  direction: rtl;
  text-align: right;
}

.a-flex-column {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
