@use "@angular/material" as mat;

/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mat-icon-400.woff2) format("woff2");
}

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 100 700;
  src: url(/fonts/mat-icon-700.woff2) format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

html {
  @include mat.theme(
    (
      color-scheme: light dark,
      color: mat.$azure-palette,
      typography: (
        plain-family: iranyekan,
        brand-family: iranyekan,
        bold-weight: 900,
        medium-weight: 500,
        regular-weight: 300
      ),
      density: 0
    )
  );
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: iranyekan !important;
  scroll-behavior: smooth;
}

a {
  all: unset;
  &:hover {
    cursor: pointer;
  }
}

// @import "@angular/cdk/overlay-prebuilt.css";
// @import "@exir/elements/assets/exir-context-menu/base";
// @import "@exir/elements/assets/exir-toast/style-bootstrap";
// @import "./styles/share.scss";
// @import "./styles/home.scss";

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}

*::selection {
  // background: mat.$azure-palette;
  color: #fff;
}

.toast-container {
  direction: rtl;
  text-align: right;
}

.a-flex-column {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
