<mat-list class="d-flex flex-column gap-2">
  @for (user of users(); track user.id) {
  @let classOnline = user.online ? 'is-online': 'is-offline';
  <mat-list-item class="d-flex"
                 [class.active]="user === (userSelected$ | async)"
                 (click)="selectUser(user)">
    <div class="d-flex align-items-center justify-content-between">

      <div class="user-item position-relative d-flex align-items-center  gap-1 justify-content-between">
        <img class="avatar"
             [src]="user.avatar"
             [class]="classOnline"
             height="46"
             alt="Avatar"
             onerror="this.src = '/img/default-profile.svg'" />
        <span class="dot-status"
              [class]="classOnline"></span>
        <span class="ms-2 username">{{ user.fullName || user.userName }}</span>
      </div>
      @if(user.newMessage) {
      <div class="new-msg"
           matTooltip="پیام جدید!">
      </div>
      }
    </div>
  </mat-list-item>
  }
</mat-list>