:host {
  border-radius: 20px;
  border: 0.7px solid gray;
  border-color: var(--ex-gray2);
}

.user-item {
  transition: background 0.2s ease-in;
  &:hover {
    background: var(--ex-gray2);
  }
  &.active {
    background: rgba(97, 132, 255, 0.1) !important;
  }
}
.new-msg {
  width: 15px;
  height: 15px;
  background: rgb(159, 51, 51);
  border-radius: 50%;
}

img {
  border: 2px solid gray;
  border-radius: 50%;
  box-sizing: border-box;
  &.is-online {
    border-color: rgb(53, 168, 55);
  }
  &.is-offline {
    border-color: rgb(145, 137, 185);
  }
}
.dot-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  bottom: 4px;
  position: absolute;
  &.is-online {
    background-color: greenyellow;
  }
  &.is-offline {
    background-color: gray;
  }
}
