<mat-toolbar class="justify-content-between">
  <a class="d-flex align-items-center gap-2"
     routerLink="chat">
    <img class="img-logo-icon"
         [src]="appSvc.appIconImg"
         width="40"
         alt=""
         onerror="this.src = '/img/logo.svg'">
    {{ appSvc.shortTitle }}
  </a>
  <div class="d-flex align-items-center gap-2">

    @if(this.authSvc.isAdmin()){
    <button mat-icon-button
            matTooltip="تنظیمات AD"
            (click)="openAdSetting()">
      <!-- <mat-icon>admin_panel_settings</mat-icon> -->
      <img src="/img/windows.png">
    </button>
    }

    @if(this.authSvc.isAdmin()){
    <button mat-icon-button
            matTooltip="پنل مدیریت"
            routerLink="admin">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
    }

    <button style="height: 48px;"
            mat-raised-button
            matTooltip="پروفایل"
            (click)="openDialog()">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <div class="d-flex align-items-center gap-2">
        <img class="avatar"
             [src]="this.user().avatar ?? '/img/default-profile.svg'"
             width="35"
             alt=""
             onerror="this.src = '/img/default-profile.svg'">
        <span>{{ this.user().fullName || this.user().userName }}</span>

      </div>
    </button>
    <mat-divider style="height: 20px;"
                 [vertical]="true"></mat-divider>
    <button mat-icon-button
            matTooltip="خروج"
            (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-divider inset></mat-divider>
<div class="h-container mx-2 my-2">
  <router-outlet></router-outlet>
</div>