<mat-toolbar class="justify-content-between">
  <a class="d-flex align-items-center gap-2"
     routerLink="chat">
    <img src="/img/logo.svg"
         width="40"
         alt="">
    نجــوا
  </a>
  <div class="d-flex align-items-center gap-2">
    <button mat-icon-button
            matTooltip="پنل مدیریت"
            routerLink="admin">
      <mat-icon>admin_panel_settings</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="تنظیمات"
            (click)="openDialog()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-divider style="height: 20px;"
                 [vertical]="true"></mat-divider>
    <button mat-icon-button
            matTooltip="خروج"
            (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
<mat-divider inset></mat-divider>
<div class="mx-2 h-100 my-2">
  <router-outlet></router-outlet>
</div>