<mat-card class="a-flex-column gap-4">
  <mat-card-header>
    <h2>سامانه ورود</h2>
  </mat-card-header>
  <mat-card-content>
    <form class="a-flex-column"
          [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>نام کاربری</mat-label>
        <input matInput
               name="username"
               formControlName="username" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>رمزعبور</mat-label>
        <input matInput
               name="password"
               formControlName="password"
               type="password" />
      </mat-form-field>

      <button mat-flat-button
              color="primary"
              type="submit">ورود</button>
    </form>
  </mat-card-content>
</mat-card>